.sidebar {
    width: 80px; 
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 10;
  }

.Navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.sidelink{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin-left: 20px;
    line-height: 0.9;
    transition: 0.3s;
}
.on{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    transform: scaleX(5); 
    margin-left: 20px;
    line-height: 0.9;
    transition: 0.3s;
}


